
<div class="nationalNews">
    <div class="news">
     <video src="assets/5286283-hd_1920_1080_30fps.mp4" controls></video>
    </div>
    <div class="news">
        <video src="assets/854766-hd_1920_1080_30fps.mp4" controls></video>
       </div>
       <div class="news">
        <video src="assets/5286283-hd_1920_1080_30fps.mp4" controls></video>
       </div>
       <div class="news">
        <video src="assets/854766-hd_1920_1080_30fps.mp4" controls></video>
       </div>
       <div class="news">
        <video src="assets/854766-hd_1920_1080_30fps.mp4" controls></video>
       </div>
       <div class="news">
        <video src="assets/5286283-hd_1920_1080_30fps.mp4" controls></video>
       </div>
       <div class="news">
        <video src="assets/854766-hd_1920_1080_30fps.mp4" controls></video>
       </div>
       <div class="news">
        <video src="assets/5286283-hd_1920_1080_30fps.mp4" controls></video>
       </div>

</div>
