
<div class="home">
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
<div class="video" >
    <video src="assets/pexels_videos_2437257 (1080p).mp4" controls ></video>
</div>
</div>
